* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
/* p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
} */

/* Header section */
#header {
	position:fixed;
	width: 100%;
	z-index: 1000;
	background-color: rgba(31, 30, 30, 0.24);
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#header .nav-list ul li a {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul li a:hover  {
	color: rgb(220, 20, 190);
	font-size: 2rem;
	background-color: rgb(183, 211, 110);
}
.brand img {
	width: 50px;
	height: 50px;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height:600px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('img/home.jpg') no-repeat center center/cover;
    height: 600px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
	font-size: 3.8rem;
    padding: 12px;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* End home Section */

/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} .h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}
.center{
    text-align: center;
}
/* table */
table{
    border: 2px solid brown;
	border-radius: 12px;
	padding: 10px;
    
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}
#order_table{
	display: flex;
	justify-content: center;
	border-radius: 2px;
	padding: 3px;
	margin: 10px;
}

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #998d1e 100%);
	min-height: 200px;
}

.footer-div{
	padding-top: 70px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
#footer .social-icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#footer a {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer  img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer img:hover  {
	filter: grayscale(0);
}

/* End footer */

